// fonts
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }


//variables
$dark_navy: #393E46;
$dark_orange: #DF7861;
$orange: #ECB390;
$dark_red: #903749;
$darkest_red: #53354A;
$green_dark0: #F3EFE0;
$white-color: #f3f3f3;



body {
    font-family: "NanumBarunGothic" !important;
    background-color: $white-color !important;
}

//header
.navbar-brand {
    font-family: "PyeongChangPeace-Bold";
}

nav.navbar {
    background-color: $dark_navy;

    .navbar-brand {
        color: $white-color;
    }

    .navbar-nav .nav-item > .nav-link{
        color: $white-color;
        &.nuxt-link-active{
            text-decoration: underline;
        }
    }
}
.error-msg {
    color: $dark_red;
}

.btn{
    &.btn-submit {
        display: block;
        margin: 0 auto;
        background-color: $dark_orange;
        color: $white-color;
        &:hover {
            color: $darkest_red;
            border: 1px solid $dark_orange;
            
        }
    }
}