// fonts
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}


//variables
$dark_navy: #393E46;
$dark_orange: #DF7861;
$orange: #ECB390;
$dark_red: #903749;
$darkest_red: #53354A;
$green_dark0: #F3EFE0;
$white-color: #f3f3f3;
$bg-bl-op4: rgba(0, 0, 0, 0.4);


body {
    font-family: "NanumBarunGothic" !important;
}

header {
    overflow: hidden;

    .v-list-item__icon {
        &:first-child {
            position: absolute;
            top: 15%;
        }

        .v-icon::before {
            padding: 5px;
            border: 1px solid $white-color;
            border-radius: 6px;
        }


    }

    .v-image {
        .v-responsive__sizer {
            background-color: $bg-bl-op4;
        }

        .v-image__image {
            background-position-y: 88% !important;
        }
    }


    .app-name--wrap {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 15px;

        >a {
            font-family: "KOTRA_BOLD-Bold";
            display: block;
            color: $white-color;
            text-decoration: none;
            font-size: 2.8rem;
        }

        >p {
            color: $white-color;
            font-size: 0.8rem;
        }
    }
}

footer {
    .v-card--flat {
        width: 100%;
    }
}


.message--wrap {
    font-size: 0.8rem;
}

.count--wrap {
    font-size: 3rem;
    font-family: "KOTRA_BOLD-Bold";

    .row {
        font-size: 1.2rem;
        
        &:last-child{
            font-size: 1.8rem;
        }

        .col {
            padding: 5px;
            span.text--secondary {
                font-size: 1.1rem;
            }
        }
    }
    > p {
        font-size: 0.9rem;
    }
}

.v-list-item {
    &.isDone {
        opacity: 0.4;

        .v-list-item__content>.v-list-item__title {
            text-decoration: line-through;
        }
    }
    &.v-list-item--disabled {
        opacity: 0.6;
        .v-list-item__content>.v-list-item__title {
            text-decoration: line-through;
        }
        .v-list-item__icon {
            opacity: 0.3;
        }
    }
    .v-list-item__title {
        > span {
            font-size: 0.8rem;
            color: $dark_orange;
        }
    }

}

.btn-deleteAll {
    right: 0;
}


//reset
.v-application a {
    color: $white-color;
    text-decoration: none;
}

.v-toolbar__content {
    .v-toolbar__title {
        padding-left: 10px !important;

        button {
            font-size: 1.1rem;
            padding: 0 !important;
            &.active {
                text-decoration: underline;
            }
            &::after {
                content: '';
                border-right: 2px solid $white-color;
                height: 20px;
                margin-left: 10px;
            }
            &:last-child::after {
                border-right: 0px;
            }
        }
    }
}

.mx-datepicker {
    width: 100% !important;
}

.mx-input-wrapper {
    border: 1px solid rgba(256, 256, 256, 0.2);
    border-radius: 3px;
    max-width: 230px;
    padding: 5px;

    .datepicker {
        width: 85%;
        color: $white-color;
    }

    .mx-icon-calendar {
        color: $white-color;
    }
}

.v-list-item__icon {
    .v-btn:not(.v-btn--round).v-size--default {
        min-width: auto;
        padding: 0 10px;
    }
}
