// fonts
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}


//variables
$dark_navy: #393E46;
$dark_orange: #DF7861;
$orange: #ECB390;
$dark_red: #903749;
$darkest_red: #53354A;
$green_dark0: #F3EFE0;
$white-color: #f3f3f3;

header {
    overflow: hidden;
    .v-list-item__icon {
        &:first-child {
            position: absolute;
            top: 15%;
        }

        .v-icon {
            border: 2px solid #f2f2f2;
            border-radius: 15px;
        }

        
    }
    .v-image {
        .v-responsive__sizer {
            background-color: rgba(0,0,0, 0.4);
        }
        .v-image__image{
            background-position-y: 88% !important;
        }
    }
    

    .app-name--wrap {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 15px;

        > a {
            font-family: "KOTRA_BOLD-Bold";
            display: block;
            color: $white-color;
            text-decoration: none;
            font-size: 2.8rem;
        }
        > p {
            color: $white-color;
            font-size: 0.8rem;
        }
    }
}

body {
    font-family: "NanumBarunGothic" !important;
}

.error-msg {
    color: $dark_red;
}

.message--wrap {
    font-size:0.8rem;
}


//reset
.v-application a {
    color: $white-color;
    text-decoration: none;
}

.mx-datepicker {
    width: 100% !important;
}

.mx-input-wrapper {
    border: 1px solid rgba(256,256,256,0.2);
    border-radius: 3px;
    max-width: 230px;
    padding: 5px;

    .datepicker {
        width: 85%;
        color: $white-color;
    }

    .mx-icon-calendar {
        color: $white-color;
    }
}